# Ignore Composer managed dependencies.
/vendor/
/web/core
/web/modules/contrib/

# Ignore configuration files that may contain sensitive information.
/web/sites/*/settings.*.php
/web/sites/*/services.*.yml

# Ignore paths containing user-generated content.
/web/sites/*/files

# Ignore multi-site test environment.
/web/sites/simpletest

# Ignore ddev secrets
/.ddev/.env

# DB dump directory
!/.dbdump/.gitkeep
/.dbdump/*
