.paragraph--type--association-role {
  display: grid;
  grid-template-areas:
    "role call call email portrait"
    "role forename surname phone portrait";
  grid-template-rows: auto 1fr;
  grid-template-columns: 20% auto 1fr 30% 25%;
  gap: var(--spacing) calc(var(--spacing) / 3);
  margin-bottom: var(--spacing);
}

.paragraph-association-role__field-user,
.user--view-mode-association-role {
  display: contents;
}

.paragraph-association-role__field-association-role-name {
  grid-area: role;
}

.field-username {
  grid-area: call;
  text-transform: uppercase;
}
.user-user-association-role__field-forename {
  grid-area: forename;
}

.user-user-association-role__field-surname {
  grid-area: surname;
}

.user-user-association-role__field-portrait {
  grid-area: portrait;
}

.user-user-association-role__field-portrait img {
  width: 10em;
}
