body {
  margin: 0;
  background-color: rgb(246, 246, 246);
}

.layout-container {
  width: 1200px;
  margin: 0px auto 30px;
  box-shadow: 0px 3px 15px 0px #aaa;
  -ms-box-shadow: 0px 3px 15px 0px #aaa;
  -moz-box-shadow: 0px 3px 15px 0px #aaa;
  -webkit-box-shadow: 0px 3px 15px 0px #aaa;
}

header,
footer[role=contentinfo] {
  background-color: #ffee00;
}

#block-swissartg-branding img,
#block-swissartg-lochstreifen img {
  width: 100%;
  height: auto;
}

#block-swissartg-breadcrumbs {
  border-top: 1px solid #d0d1d7;
  border-bottom: 1px solid #d0d1d7;
  background-color: #e0e1e9;
  padding: 1px 25px 0;
  height: 21px;
}

#block-swissartg-breadcrumbs ol {
  display: inline;
  list-style: none;
  list-style-position: outside;
  padding: 0px;
  margin: 0px;
}

#block-swissartg-breadcrumbs li {
  color: black;
  float: left;
  padding-top: 2px;
  padding-right: 5px;
}

#block-swissartg-breadcrumbs a {
  color: #85858a;
}

main {
  background-color: #ffffa2;
  display: flex;
}

.menu {
  min-width: 220px;
  width: 220px;
}

.menu ul {
  list-style: none;
  padding-left: 25px;
}

.menu li ul {
  padding-left: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.menu li {
  margin: 2px 0px;
  background-color: #ffee00;
}

.menu li a {
  padding: 7px 0px;
}

.menu li a.is-active {
  color: #000000;
  font-weight: bold;
}

.layout-content {
  padding: 4px 25px 50px;
  flex-grow: 1;
}

#block-swissartg-mainpagecontent {
  background-color: #EEEEEE;
  box-shadow: 1px 2px 4px rgba(0,0,0, .5);
  padding: 3px;
}

#block-swissartg-mainpagecontent article {
  padding-bottom: 15px;
  margin-bottom: 15px;
}

#block-swissartg-mainpagecontent article > h2 {
  font-size: 16px;
  padding: 0px;
  padding-bottom: 10px;
  font-weight: bold;
}

#block-swissartg-mainpagecontent article footer time {
  display: inline-block;
  padding-right: 8px;
  margin-right: 8px;
  border-right: 1px solid #ddd;
}

#block-swissartg-mainpagecontent article footer time:last-child {
  border-right: 0;
}

footer[role=contentinfo] {
  padding: 15px;
}

a {
  text-decoration: none;
  color: #335f8d;
}

a:hover {
  color: #ff8400;
}
