#block-swissartg-branding img,
#block-swissartg-lochstreifen img {
  width: 100%;
  height: auto;
}

.menu {
  flex: 1 1;
  max-width: 14em;
  min-width: 12em;
}

.menu ul {
  list-style: none;
  padding-left: 25px;
}

.menu li ul {
  padding-left: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.menu li {
  margin: 2px 0px;
  background-color: #ffee00;
}

.menu li a {
  padding: 7px 0px;
}

.menu li a.is-active {
  color: #000000;
  font-weight: bold;
}

#block-swissartg-mainpagecontent {
  background-color: #EEEEEE;
  box-shadow: 1px 2px 4px rgba(0,0,0, .5);
  padding: 3px;
}

:root {
  --layout-gap: 1em;
}

#block-swissartg-mainpagecontent article {
  padding: calc(var(--layout-gap) / 2);
  margin-bottom: 15px;
}

#block-swissartg-mainpagecontent article > h2 {
  font-size: 16px;
  padding: 0px;
  padding-bottom: 10px;
  font-weight: bold;
}

#block-swissartg-mainpagecontent article footer time {
  display: inline-block;
  padding-right: 8px;
  margin-right: 8px;
  border-right: 1px solid #ddd;
}

#block-swissartg-mainpagecontent article footer time:last-child {
  border-right: 0;
}

a {
  text-decoration: none;
  color: #335f8d;
}

a:hover {
  color: #ff8400;
}

.paragraph--type--image img {
  width: 100%;
  height: auto;
}
