.pager ul {
  padding: 0;
}

.pager__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  gap: calc(var(--spacing) / 8) var(--spacing);
}

.pager__item {
  display: inline-block;
  text-align: center;
  vertical-align: middle;

  background-color: var(--color-gray-light);
  box-shadow: calc(var(--spacing) * 0.1) calc(var(--spacing) * 0.2) calc(var(--spacing) * 0.4) var(--color-gray-medium);
  padding: calc(var(--spacing) * 0.5) var(--spacing);
  margin-bottom: var(--spacing);
}
